/* Variables */
:root{
  --header: #9E5E22;
  --navbarhover: #F7E7D7;
  --background: #F4DFCA;
  --greeting: #D27D2D;
}

/* Fonts */
h1{
  font-family: "Lexend", sans-serif;
  font-size: 80px;
}

h2{
  font-family: "Merriweather", serif;
}

h3{
  font-family: "Lexend", sans-serif;
  font-size: 40px;
}

p{
  font-family: "Lexend", sans-serif;
}

.lexend{
  font-family: "Lexend", sans-serif;
}

/* Universal Styling */
.text-button-underline{
  cursor: pointer;
}

.text-button-no-underline{
  cursor: pointer;
  text-decoration: none;
}

.background{
  background-color: var(--background);
}

.greeting-colour{
  color: var(--greeting);
}



/* Header CSS */
header {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header);
}

.header{
  box-shadow: 2px 2px 5px var(--header);
  position: relative;
}

.logo-icon{
  content: url("/public/icon1.png");
  max-height: 25px;
  padding-left: 10px;
}

.header-title{
  font-size: 16px;
  font-weight: normal;
  color: white;
}

.logoutButton{
  padding-right: 10px;
  color: white;
  
}

.logoutButton:hover{
  color: var(--navbar);
}

/* NavBar */
.navbar{
  width: 200px;
  background-color: var(--background);
  border-right: 1px solid;
  border-color: #9E5E22;
  height: 103vh;
}

.nav-button{
  display: flex;
  width: 200px;
  height: 70px;
  background-color: var(--background);
  color:black;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}

.nav-button:hover{
  background-color: var(--navbarhover);
}


/* Landing Page CSS */
.greeting{
  color: #D27D2D;
}

.landing-page{
  min-height: 100vh;
  padding-top: 30px;
  min-width: calc(100vw - 200px);
}

.landing-image{
  content: url("/public/landing-image.png");
  max-height: 50vh;
  opacity: 100%;
}

/* 404 Page CSS */

.error-page{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(320deg, #9E5E22, #C29A75, #F4DFCA);
  height: 100vh;
  min-width: calc(100vw - 200px);
}

.error-title{
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}
.error-home-button{
  color: black;
}

.error-home-button:hover{
  color: white;
}

/* Volcano List Page */

.volcano-list{
  min-height: 100vh;
  padding-top: 30px;
  min-width: calc(100vw - 200px);
}

.select-menu{
  margin-left: 10px;
  margin-right: 10px;
}

/* Individual Volcano Page */

.volcano{
  min-height: 103vh;
  flex-wrap: wrap;
}

.volcano-left{
  max-width: 30vw;
}

.back-button{
  font-family: "Lexend", sans-serif;
  background-color: var(--greeting);
  color: white;
  border: none;
  padding: 18px 60px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  border: 1px;
  transition: all 0.3s ease 0s;
  border-radius: 20px;
  margin-top: 20px;
}

.back-button:hover{
  background-color: var(--header);
}

li{
  list-style-type: none;
  margin-top: 10px;
  font-size: 20px;
}

/* Login Page */

.login-page{
  min-height: 100vh;
  padding-top: 30px;
  min-width: calc(100vw - 200px);
}

.error-message{
  color: #cc0000;
  font-family: "Lexend", sans-serif;
}

/* Register Page */

.register-page{
  min-height: 100vh;
  padding-top: 30px;
  min-width: calc(100vw - 200px);
}

/* Alignment */
.flexBoxColumnGrow{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.flexBoxRowGrow{
  display: flex;
  flex-direction: row;
  flex: 1;
}

.flexBoxRow{
  display: flex;
  flex-direction: row;
}

.column-center{
  align-items: center;
}

.row-center{
  justify-content: center;
}














/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
